bin/Bcluster2.0
bin/BBC

results/2013-09-01/graph

data/regulon_by_first_gene.txt
data/
dump/
pipeline/

*.tsv
*.stat
*.png
*.xlsx
tmp
*.tmp
*.pdf
function_relatedness_hongwei_NAR_2005
*.rdata
*.tar.gz
*.abc
*.mcl
*.txt

2013-10-10/reg_table_0.5sim.txt
2013-10-10/reg_table_all_edge.txt
2013-10-10/tmp_sim0.5.txt
2013-10-10/top_10_result/

